<div class="auth-container">
    <h2>Registrar Novo Administrador</h2>
    <form action="/register" method="post">
        <div class="form-control">
            <label for="user">Usuario:</label>
            <input type="text" name="user" placeholder="Digite aqui o usuario do expresso.">
        </div>
        <div class="form-control">
            <label for="password">Senha:</label>
            <input type="password" name="password" placeholder="Digite a Senha">
        </div>
        <div class="form-control">
            <label for="confirmpassword">Confirme sua Senha:</label>
            <input type="password" name="confirmpassword" placeholder="Confirme A Senha">
        </div>
        <input type="submit" value="Cadastrar">
    </form>

</div>