<div class="schedule">
    <form action="">
        <fieldset>
            <!-- USUÁRIO -->
            <legend><b>Agende Sua Viagem Abaixo</b></legend>
            <br>
            <div class="inputBox">
                <label for="passenger" class="rotulo">Passageiro</label>
                <input type="text" name="passenger" class="inputUser" required="">
            </div>
            <br><br>
            <div class="inputBox">
                <label for="departure_place" class="rotulo">Local De Saída</label>
                <input type="text" name="departure_place" class="inputUser" required="">
            </div>
            <br><br>
            <div class="inputBox">
                <label for="destiny" class="rotulo">Destino</label>
                <input type="text" name="destiny" class="inputUser" required="">
            </div>
            <br><br>
            <div class="datas">
                <!-- DATA DA VIAGEM -->
                <div class="form-data">
                    <label for="travel_date"><b>Data da Viagem:</b></label>
                    <input type="date" name="travel_date" required="">
                </div>
                <!-- HORARIO SAÍDA -->
                <div class="form-data">
                    <label for="departure_time"><b>Horario De Saída: </b></label>
                    <input type="time" name="departure_time" required="">
                </div>
                <!-- HORARIO RETORNO -->
                <div class="form-data">
                    <label for="return_time"><b>Horario De Retorno(Previsão):</b></label>
                    <input type="time" name="return_time" required="">
                </div>
                <br><br><br>
            </div>

            <div class="botao">
                <input type="submit" name="submit" id="submit" value="Solicitar Viagem">
            </div>

        </fieldset>
    </form>

</div>