<div class="schedule">
    <h1>Agende Sua Viagem Abaixo:</h1>
    <form action="">
        <fieldset>
            <!-- USUÁRIO -->
            <legend><b>Fórmulário de Pedido</b></legend>
            <br>
            <div class="cadastro">
                <label for="passenger" class="rotulo">Passageiro</label>
                <input type="text" name="passenger" required="">
            </div>
            <br><br>
            <div class="cadastro">
                <label for="departure_place" class="rotulo">Local De Saída</label>
                <input type="text" name="departure_place" required="">
            </div>
            <br><br>
            <div class="cadastro">
                <label for="destiny" class="rotulo">Destino</label>
                <input type="text" name="destiny" required="">
            </div>
            <br><br>
            <div class="Datas">
                <!-- DATA DA VIAGEM -->
                <label for="travel_date"><b>Data da Viagem:</b></label>
                <input type="date" name="travel_date" required="">
                <br><br>
                <!-- HORARIO -->
                <label for="departure_time"><b>Horario De Saída: </b></label>
                <input type="time" name="departure_time" required="">
                <br><br>
                <label for="return_time"><b>Horario De Retorno(Previsão):</b></label>
                <input type="time" name="return_time" required="">
                <br><br>
            </div>

            <div class="botao">
                <input type="submit" name="submit" id="submit" value="Solicitar Viagem">
            </div>

        </fieldset>
    </form>

</div>